.App {
  text-align: center;
}

/* SignUp Page */

.sign-up {
  background-color: #009578;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form {
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 10px;
}
.signup-input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px #7c938f solid;
}
.signup-input:focus {
  outline: none;
}
.signup-btn {
  background-color: #009578;
  color: #fff;
  width: 100%;
  padding: 20px;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
}
.signup-form h3 {
  color: #3e3737;
}
.signup-form h3 span {
  color: #046324;
}
.error-msg {
  color: red;
}
/* Signup Success Page */

.success-page {
  background-color: #009578;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success-box {
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
}
.success-box h3 {
  color: #046324;
}
.success-btn {
  width: 50%;
  background-color: #009578;
  font-size: larger;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 15px;
  margin-top: 30px;
}

/* Login Page */

.login-page {
  background-color: #009578;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 10px;
}
.login-input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px #7c938f solid;
}
.login-input:focus {
  outline: none;
}
.login-btn {
  background-color: #009578;
  color: #fff;
  width: 100%;
  padding: 15px;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
}
.login-form h3 {
  color: #3e3737;
}
.login-form h3 span {
  color: #046324;
}

/* Login Success Page */
